<%- include('./partials/header.ejs')%>

<body>

    <%- include('./partials/homenavbar.ejs')%>
    <div class="container mt-3">
        <% result.articles.rows.forEach(article =>{%>

            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class='card-body'>
                    <a href="/articles/<%=article.slug%>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
            <br>

        <%})%>
        <div class="row">
            <div class="col col-12">
                <% if (result.next){%>
                    <a style='float:right'class='btn btn-primary' href="/articles/page/<%=result.page + 1%>">Next</a>
                <%}%>
                <% if ((result.page)==1){%>
                    
                <%}else if((result.page)==2){%>
                    <a class='btn btn-primary' href="/">Previous</a>
                <%}else{%>
                    <a class='btn btn-primary' href="/articles/page/<%=result.page-1%>">Previous</a>
                <%}%>
            </div>
            
        </div>
    </div>
    <hr>
</body>

<%- include('./partials/footer.ejs')%>